$primary: #FABAA0;
$primary-light: #FBDCC5;
$secondary: #708D92;
$accent: #DE470D;
$text-light: #747474;
$text-normal: #343434;
$text-dark: #2B2B2B;
$bg_300: #F7F5F2;
$bg_200: #F9F7F5;
$bg_100: #FBFAF8;
$grey_100: #E5E5E5;
$grey_200: #CCCCCC;
