$primary: #b5c99a;
$primary-dark: #74815A;
$primary-light: #F0F4EB;
$grey-dark: #858377;
$grey-light: #E8E8DB;
$highlight: #ff7096;
$text-light: #636057;
$text-normal: #494846;
$text-dark: #373A3C;
$tooltip-bg: $primary-dark;