//utilities
.d_block {
 display: block;
}

.d_flex {
 display: flex;
}

.d_none {
 display: none;
}

.txt_center {
 text-align: center;
}

.txt_white {
 color: #ffffff;
}

//spacing
.mt-0 {
 margin-top: 0px;
}

.mt-1 {
 margin-top: 4px;
}

.mt-2 {
 margin-top: 8px;
}

.mt-3 {
 margin-top: 16px;
}

.mt-4 {
 margin-top: 24px;
}

.mt-5 {
 margin-top: 48px;
}

.mt-6 {
 margin-top: 60px;
}

.mt-7 {
 margin-top: 70px;
}

.mt-8 {
 margin-top: 80px;
} 

.mt-9 {
 margin-top: 90px;
}

.mt-10 {
 margin-top: 100px;
}

.ml-0 {
 margin-left: 0;
}

.ml-1 {
 margin-left: 4px;
}

.ml-2 {
 margin-left: 8px;
}

.ml-3 {
 margin-left: 18px;
}

.mb-0 {
 margin-bottom: 0;
}

.mb-3 {
 margin-bottom: 16px;
}

.mb-4 {
 margin-bottom: 24px;
}

.mb-5 {
 margin-bottom: 48px;
}

.py-5 {
 padding-top: 48px;
 padding-bottom: 48px;
}

.py-6 {
 padding-top: 60px;
 padding-bottom: 60px;
}
