/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//global setting
*, *::before, *::after {
  box-sizing: border-box;
  transition: all 0.2s;
 }
 
body {
  font-family: 'Source Sans Pro', "Noto Sans TC","微軟正黑體", "Microsoft JhengHei", "PingFang",sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

html, body {
  line-height: 1.5;
}

//全站 site components
input, 
select {
  border: 1px solid #CED4DA;
  border-radius: 2px;
  &:focus-visible {
    border: 1px solid transparent;
    outline: 1px solid #6A33FF;
  }
}

a {
  text-decoration: none;
  // color: #000000;
  cursor: pointer;
}

.s_full_height {
	width: 100%;
	height: 100vh;
	min-height: 800px;
}

.d_flex_col_center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

//全站 site components - fonts
.text_2xl {
	font-size: 30px;
	text-align: center;
	margin-bottom: 60px;
	@include smallScreen {
			font-size: 26px;
	}
}

.text_xl {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text_lg {
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
	letter-spacing: 0.6px;
}

.text_md {
	font-size: 16px;
	line-height: 1.75;
	font-weight: 400;
}

.text_base {
	font-size: 14px;
	line-height: 1.5;
}

.text_sm {
	font-size: 12px;
	line-height: 1.8;
}

.text_xs {
	font-size: 10px;
	line-height: 1.25;
}

//全站 site components - fixed menu
.fixed_menu_left {
	position: fixed;
	left: 10px;
	bottom: 10%;
	font-size: 12px;
	line-height: 24px;
	border: 1px solid #000000;
	display: inline-block;
	padding: 10px;
	@include mobile {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		margin: 30px 0;
		text-align: center;
	}
}

nav.fixed_menu_left > div {
	writing-mode: vertical-lr;
	margin-bottom: 10px;
	display: inline-block;
	@include mobile {
		writing-mode: horizontal-tb;
		margin-bottom: 0;
		margin-right: 10px;
	}
}

ul.rounded_menu {
	text-align: center;
	li {
		border: 1px solid #000000;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		margin-bottom: 6px;
		transition: all 0.2s;
		&:hover{
			color: #ffffff;
			background-color: #000000;
		}
		@include mobile {
			margin-bottom: 0;
			margin-right: 6px;
		}
	}
	a {
		display: block;
		color: #000000;
		&:hover{
			color: #ffffff;
		}
	}
	@include mobile {
		display: flex;
	}
}

ul.rounded_menu li.active {
			color: #ffffff;
			background-color: #000000;
		a {
			color: #ffffff;
		}
}

ul.rounded_menu li.disabled {
	border: 1px solid #787878;
	color: #787878;
	pointer-events: none;
a {
	color: #787878;
}
}

//全站 site components - footer
footer {
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	padding: 12px 0;
}

//<*--------day 11--------*>
.bg_bfbea6 {
	background-color: #bfbea6;
}

.bg_BCD4DE {
	background-color: #BCD4DE;
}

.container_m {
	width: 100%;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	@include mobile {
		padding-right: 15px;
		padding-left: 15px;
	}
}

//parallax
* { transition: none; }

.parallax-window {
	min-height: 800px;
	background: transparent;
	@include mobile {
		min-height: 600px;
	}
}

.parallax-window.h500 {
	min-height: 500px;
	@include mobile {
		min-height: 400px;
	}
}

//double center-center
.square {
	border: 1px solid #4B6851;
	color: #4B6851;
	width: 240px;
	height: 180px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:	translateX(-50%) translateY(-50%);
	font-size: 30px;
	font-weight: 100;
	font-family: 'Caveat Brush', cursive;
	display: flex;
	align-items: center;
	justify-content: center;
}

//scroll cards
.fixed_scroll_bg {
	width: 100%;
	min-height: 1200px;	
	z-index: -100;
	background-image: url(../img/unsplash02.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	@include mobile {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.scroll_card {
	max-width: 600px;
	padding: 20px 80px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #006400;
	background-color: #ffffff;
	@include mobile {
		padding: 20px 20px;
	}
}

.scroll_card_frame {
	padding: 300px 0;
}

//two columns grid
.grid_two_col {
	display: grid;
	grid-template-columns: 1fr 1fr;
	@include mobile {
		grid-template-columns: 1fr;
	}
}

.col_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 30px;
	@include mobile {
		padding: 120px 60px;
	}
	@include smallScreen {
		padding: 120px 15px;
	}
}

//two columns flexbox
.flex_two_col {
	display: flex;
	align-items: center;
	@include mobile {
		flex-direction: column;
	}
}

.flex_two_col div {
	width: 50%;
	@include mobile {
		width: 100%;
	}
	&:nth-of-type(1){
		img {
			width: 800px;
		}
	}
	&:nth-of-type(2){
		padding: 0 30px;
		@include mobile {
			padding: 120px 60px;
		}
		@include smallScreen {
			padding: 120px 15px;
		}
	}
}


//<*--------day 12--------*>
.bg_668f89 {
	background-color: #668f89;
}

.bg_8aa2ac {
	background-color: #8aa2ac;
}

.bg_c8c4a7 {
	background-color: #c8c4a7;
}

.bg_d5db83 {
	background-color: #d5db83;
}

.bg_668f89 {
	background-color: #9ea4b0;
}

//scrollMenu
.topMenuBar_fixed {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	margin: 0;
	padding: 0 30px	;
	background-color: rgba(255, 255, 255, 0.8);
}

.navMenu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 48px;
	@include pad {
		margin-right: 15px;
		margin-left: 15px;
	}
}

.navMenu li {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.15em;
	margin-right: 18px;
	transition: all 0.2s ease; 
	&:nth-last-child(1){
		margin-right: 0;
	}
	&:hover {
		a {
			&:after {
				width: 100%;
				left: 0;
			}
		}
	}
}

.navMenu a.active {
		&:after {
			width: 100%;
			left: 0;
		}
}

.navMenu a {
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	padding: 2px 6px;
	display: inline-block;
	cursor: pointer;
	&:after {
		content: "";
		display: block;
		background-color: #585757;
		width: 0;
		height: 2px;
		position: absolute;
		left: 50%;
		bottom: 0;
	}
}

//scroll to top
.scrollToTop {
	position: fixed;
	right: 15px;
	bottom: 10%;
	font-size: 12px;
	text-align: center;
	display: block;
	cursor: pointer;
	&:before{
		display: block;
		content: "";
		width: 32px;
		height: 32px;
		margin-right: auto;
		margin-left: auto;
		border-radius: 50%;
		background-image: url(../img/goToTop.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
	}
	opacity: 0;
	transition: opacity 0.3s;
}

.scrollToTop.show {
	opacity: 1;
}

//<*--------day 13--------*>
.day13 {
	width: 100%;
	margin: 0;
	min-height: 900px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.lightbox_wrap {
	width: 100%;
	max-width: 1260px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	@include laptop {
		max-width: 975px;
	}
	@include pad {
		max-width: 735px;
	}
	@include mobile {
		max-width: 495px;
		padding-left: 15px;
		padding-right: 15px;
	}
	@include smallScreen {
		max-width: 100%;
	}
}

.lightbox_content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 15px;
	@include laptop {
		grid-template-columns: repeat(4, 1fr);
	}
	@include pad {
		grid-template-columns: repeat(3, 1fr);
	}
	@include mobile {
		grid-template-columns: repeat(2, 1fr);
	}
}

//custom lightbox css
.lightbox {
	top: 100px !important;
}
.lb-outerContainer {
	width: 400px !important;
	height: 400px !important;
}

.lightbox .lb-image {
	width: 400px !important;
	height: 400px !important;
}


//<*--------day 14 jQuery--------*>
.slidshow_wrap {
	width: 100%;
	max-width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding: 60px 0;
	@include smallScreen {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.slideWindow {
	position: relative;
	border-bottom: 2px solid #000000;
	height: 400px;
	overflow: hidden;
}

.slide {
	display: none;
}

.slide img {
	width: 400px;
	height: auto;
}

.row {
	display: flex;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.thumb {
	flex: 25%;
	background-color: #000000;
	img {
		opacity: 0.6;
		width: 200px;
	}
}

.thumb.active {
	img {
		opacity: 1;
	}
}

.cursor {
	cursor: pointer;
}

.prev, 
.next {
	width: 36px;
	padding: 4px 0;
	z-index: 1000;
	position: absolute;
	top: 50%;
 transform: translateY(-50%);
	&:hover{
		transition: all 0.2s;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.prev {
	left: 0px;
	padding-left: 10px;
	padding-right: 4px;
}

.next {
	right: 0px;
	padding-left: 4px;
	padding-right: 10px;
}


//<*--------day 14 JavaScript--------*>
.js_slideWindow {
	position: relative;
	border-bottom: 2px solid #000000;
}

.slide {
	display: none;
}

.js_slide img {
	width: 400px;
	height: auto;
}

.js_row {
	display: flex;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.js_thumb {
	flex: 25%;
	background-color: #000000;
	img {
		opacity: 0.6;
		width: 200px;
	}
}

.js_thumb img.active {
	opacity: 1;
}

.js_prev, 
.js_next {
	width: 36px;
	padding: 4px 0;
	z-index: 1000;
	position: absolute;
	top: 50%;
 transform: translateY(-50%);
	// border: 1px solid green;
	&:hover{
		transition: all 0.2s;
		background-color: rgba(0, 0, 0, 0.6);
	}
}

.js_prev {
	left: 0px;
	padding-left: 10px;
	padding-right: 4px;
}

.js_next {
	right: 0px;
	padding-left: 4px;
	padding-right: 10px;
}

//<*--------day 15 autoplay--------*>
.day15 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.slide_auto_wrap {
	width: 100%;
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.slide_auto_wrap img {
	background-color: grey;
	display: inline-block;
	width: 300px;
	height: 200px;
}

.btnGourp {
	margin-top: 10px;
	display: flex;
}

.btnGourp > a{
	border: 1px solid #BCD4DE;
	padding: 4px 12px;
	border-radius: 8px;
	margin-right: 10px;
	&:hover {
		background-color: #BCD4DE;
	}
}
